[user]
	name = Jason Zhao
	email = silverzhaojr@gmail.com
[diff]
	tool = p4merge
[difftool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
	trustExitCode = false
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
